:root {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 16px;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
}

body {
	box-sizing: border-box;
	color: #222;
}

a {
	text-decoration: none;
	color: #222;
}

.container {
	margin: 0 15vw;
}

h1 {
	padding: 1em 0 0;
	font-size: 2.5rem;
}

nav {
	padding: 0 0 1em;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}

ul {
	float: right;
	list-style: none;
}

li {
	display: inline-block;
	padding: 0 2em;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
}

li::before, li::after {
	content: ":";
	display: inline-block;
}

section {
	margin: 5em 0;
}

section:not(#previews) {
	display: none;
}

h2 {
	padding: 0 0 2em 0;
}

article {
	margin: 0 0 2em;
}

h3 {
	background-color: #444;
	color: #fff;
	padding: .3em 1.2em;
	text-align: left;
}

p {
	line-height: 2em;
}

#previews h3:hover {
	cursor: pointer;
}

.articleDate {
	font-size: .9rem;
	padding: .3em 1.6em;
}

.articleBody {
	padding: 1.5em;
	display: none;
}

#about h3, #contact h3 {
	margin: 0 0 2em 0;
}

#about p {
	padding: .8em 1.6em;
}

#portrait {
	width: 8em;
	height: 8em;
	background-image: url(b.png);
	background-size: 8em 8em;
	float: left;
	margin: 2em .8em 0 1.6em;
}

#socialIcons {
	margin-top: 2.3em;
	text-align: right;
}

img {
	height: 2.8em;
	margin-right: 2em;
}

#contact {	
	text-align: center;
}

#contact p {
	padding: .8em 1.6em;
	margin: 0 0 2em;
}

#email {
	color: #fff;
	background-color: #444;
	padding: .3em .8em;
	margin: auto;
	display: inline-block;
}

footer {
	position: fixed;
	background-color: #fff;
	bottom: 0;
	font-size: .7rem;
	text-align: center;
	width: 100%;
	margin: auto;
}

footer p {
	margin: 1em 0;
}

footer a:hover {
	text-decoration: underline;
}